header.header
  .header__wrapper#header__wrapper
    .header__column#header__icon
      a(href=routes.home)
        i.fas.fa-headphones
    .header__column#header__search
      form(action=routes.search, method="get")
        a(href="#")#arrow-click.header__column-noshow
          i.fas.fa-arrow-left
        input(type="text" placeholder="검색" name="search_word")
    .header__column#header__menu
      ul#ul-list
        if !user.idCheck
          li
            button(type="button")#search__click
              i.fas.fa-search
          li
            a(href=routes.join) 회원가입
          li
            a(href=routes.login) 로그인
        else
          li
            button(type="button")#search__click
              i.fas.fa-search
          li
            a(href=`${routes.videos}${routes.upload}`) 업로드
          li
            a(href=routes.userDetail(user.id)) 프로필
          li
            a(href=routes.logout) 로그아웃
        