extends layouts/main
include mixins/videoPlayer

block content
  .video-detail__container
    +videoPlayer({
      src:video.fileUrl
    })
    .video__info
      //- video생성자의 id와 현재 로그인 중인 id가 동일하면 수정 버튼이 보이도록
      if loggedUser
        if video.creator.id === loggedUser.id
          a(href=routes.editVideo(video.id))
            button 수정
      h5.video__title=video.title
      p.video__description=video.description
      if video.views === 1
        span.video__views 1 view
      else
        span.video__views #{video.views} view
      .video__author
        span 작성자 
          a(href=routes.userDetail(video.creator.id)) #{video.creator.name}
    .video__comments
      if video.comments.length === 1
        span.video__comment-number 1 comment
      else
        span.video__comment-number #{video.comments.length} comments
    .video__comments-box.comments-submit
      .video__coments-avatar
        if loggedUser
          img.u-avatar(src=loggedUser.avatarUrl)
        else
          img.u-avatar(src="/uploads/avatars/defaultimg.png")
      .video__comments-enter
        form.add__comment#jsAddComment
          //- 로그인 아닐시에는 join화면으로 이동
          if loggedUser
            input(type="textarea" placeholder="댓글 추가...").video__comments-input
            .video__comments-submit
              input(type="reset" value="취소")
              input(type="submit" value="전송")
          else
            a(href=routes.join)
              input(type="textarea" placeholder="댓글 추가...").video__comments-input

    .video__comments-box
      ul.video__comments-list
        each comment in video.comments
          .video__comments-main
            .video__comments-img
              img.u-avatar(src=comment.avatarUrl)
            .video__comments-content
              span
                a(href=routes.userDetail(comment.creator._id))=comment.name
              span=comment.text
