extends layouts/main
include mixins/videoPlayer

block content
  .video-detail__container
    +videoPlayer({
      src:video.fileUrl
    })
    .video__info
      //- video생성자의 id와 현재 로그인 중인 id가 동일하면 수정 버튼이 보이도록
      if loggedUser
        if video.creator.id === loggedUser.id
          a(href=routes.editVideo(video.id))
            button 수정
      h5.video__title=video.title
      p.video__description=video.description
      if video.views === 1
        span.video__views 1 view
      else
        span.video__views #{video.views} view
      .video__author
        span 작성자 
          a(href=routes.userDetail(video.creator.id)) #{video.creator.name}
    .video__comments
        span.video__comment-number#jsCommentsCount=video.comments.length+" comment"
    .video__comments-box.comments-submit
      .video__comments-avatar
        if loggedUser
          //- 댓글 작성시 야매로 유저 이름과 id값을 받을 수 있음
          img.u-avatar#jsUserAvatar(src=loggedUser.avatarUrl name=`${loggedUser.id}/${loggedUser.name}`)
          .info
            span
        else
          img.u-avatar
      .video__comments-enter
        form.add__comment#jsAddComment
          //- 로그인 아닐시에는 join화면으로 이동
          if loggedUser
            input(type="textarea" placeholder="댓글 추가...").video__comments-input
            .video__comments-submit
              input(type="reset" value="취소")
              input(type="submit" value="전송")
            .video__comments-submit
          else
            a(href=routes.join)#jsJoinAlter
              input(type="textarea" placeholder="댓글 추가...").video__comments-input
    .video__comments-box
      ul.video__comments-list#jsCommentList
        each comment ,index in video.comments.reverse()
          li.video__comments-main(data-index=index)
            .video__comments-img
              img.u-avatar(src=comment.avatarUrl)
            .video__comments-content
              span
                a(href=routes.userDetail(comment.creator._id))=comment.name
              span=comment.text
            //- button.video__comments-menu
            //-   i.fas.fa-ellipsis-v
            ul.video__comments-menu-list
              if loggedUser
                if String(comment.creator._id) === String(loggedUser.id)
                  li
                    button.comment-delete(name=`${comment.id}`) 삭제
                else
                  li
                    button 신고하기
              else
                  li
                    button 신고하기